<html>
<head>
</head>
<body>
  <p>Hello!!</p>  
  <form action = "{% url 'scheduling:WorkingTable' %}" method = "post">
  {% csrf_token %}
  <div>
    <label for = "name">名前</label>
    <input type = "text" id= "name" name = "name" value = "{{name}}">
  </div>
  <div>
    <label for="dates">シフト作成する日付</label>
    <input id="dates" name= "dates" type = "date" value = "{{dates}}">
  </div>
  <div>
    <label for= "email">メンバー</label>
    <input type ="mail" id = "email" name= "email" value ="{{email}}">
  </div>
  <div>
    <label for="message">内容</label>
    <textarea id="message" name= "message">{{message}}</textarea>
  </div>
  
  <input type="submit" value="送信">

  </form>
  
</body>
</html>